server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name _;

    root /vagrant/frontend/dist;
    index index.html;

    location ~ ^/(songs|artists|stats) {
        proxy_pass http://{{ backend_host }}:8080;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}